.App {
  text-align: center;
}

.verse-text {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: bolder;
  color: #1b1a1a;;
  margin-left: 20%;
  margin-right: 20%;
  
}

.root {
  color: #2f2f3f;
}

.toggle {
  min-height: "100vh";
  text-align: "center";
  padding-top: "10rem";
  background-color: "#f5f5f5";
}

.sc-beySPh{
  margin-right: 20;
}

.conch{
  height: 80px;
  width: 80px;
  border-radius: 20%;
  background-image: url('conch.png');
  background-size: cover;
}

.conch_button{
  height: 50px;
  
}